ul {
    list-style-type: none;
    padding: 0;
}

li.jogosDisponiveis {
    position: relative;
    top: 100px;
    left: 45px;
    width: 900px;
    padding: 10px;
    border-bottom: 1px solid #0E2A59;
    background-color: #5067a7 ;  
    color: #f8f8f8;
    border-radius: 10px
    ;
}

li.jogosDisponiveis:hover {
    background-color: #f1edf0;
    color: #F972BF
}

.jogosDisponiveis {
    cursor: pointer;
}

aside.fundoLista{
    width: 1000px;
    height: 350px;
    flex-direction: column;
    background-color: #0E2A59;
    padding: 20px;
    position: relative;
    top: 200px;
    left: 500px;
    border-radius: 20px;

}

h1.tituloLista{
    top: 0px;
}